body {
  margin: 0;
  padding: 0;
  font-family: Montserrat,sans-serif;
  font-weight: 300;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8!important
}

.logo {height: 30px;}

.home{margin-top:70px;}

.bold-xs {
    font-weight: 700;
    font-size: 14px;
}

.bold-xxs {
    font-weight: 700;
    font-size: 13px;
}

.regular-xs {
    font-weight: 400;
    font-size: 14px;
}

.regular-xxs {
    font-weight: 400;
    font-size: 13px;

}
.cl-DarkGrey {
    color: #41434c;
}

.cl-Tomato {
    color: #fb406b;
}
.fixed-top {
    z-index: 999; /*OVERRIDE BOOTSTRAP CSS*/
}